{{dayjs}}
<br />
{{local}}
<br />
{{utc}}
<br />
{{now interval=1000}}
<br />
{{unix 1318781876406}}
<br />
{{dayjs-week-of-year}}
<br />
{{dayjs-to (now) (dayjs-add (now) 7 'day')}}
<br />
{{dayjs-calendar (now)}}
<br />
{{dayjs-duration 3600}}
<br />
<button type="button" {{on 'click' (fn this.changeLanguage 'tr')}}>
  Türkçe
</button>
<button type="button" {{on 'click' (fn this.changeLanguage 'en')}}>
  English
</button>